/* **************************************** Animations **************************************** */

/* **************************************** Animations for link and header **************************************** */


@keyframes animLink {
    from {
        color: var(--secondary-color);
    }
    to {
        color: var(--primary-text-color);
    }
}

/* @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

@keyframes moreInfos {
    from {
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
    }
    to {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

/* **************************************** Fin animations for link and header **************************************** */

/* **************************************** Animations change places boxes **************************************** */

@keyframes firstToSecond {
    0% {
        top: 25%;
        left: 25%;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        top: 20%;
        left: 23%;
        opacity: 1;
    }
}

@keyframes firstToThird {
    0% {
        top: 25%;
        left: 25%;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        top: 15%;
        left: 21%;
        opacity: 1;
    }
}

@keyframes secondToFirst {
    0% {
        top: 20%;
        left: 23%;
    }
    100% {
        top: 25%;
        left: 25%;
    }
}

@keyframes secondToThird {
    0% {
        top: 20%;
        left: 23%;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        top: 15%;
        left: 21%;
        opacity: 1;
    }
}

@keyframes thirdToFirst {
    0% {
        top: 15%;
        left: 21%;
    }
    100% {
        top: 25%;
        left: 25%;
    }
}

@keyframes thirdToSecond {
    0% {
        top: 15%;
        left: 21%;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        top: 20%;
        left: 23%;
        opacity: 1;
    }
}

/* **************************************** Fin animations change places boxes **************************************** */

/* **************************************** Animation for more infos **************************************** */


@keyframes boxToLeft {
    0% {
        left: 25%;
        opacity: 0.8;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        left: 50%;
        opacity: 0;
        display: none;
    }
}

@keyframes boxToTop {
    0% {
        top: 15%;
        opacity: 0.8;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        top: 50%;
        opacity: 0;
        display: none;
    }
}

@keyframes boxToRight {
    0% {
        left: 23%;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        left: -50%;
        opacity: 0;
        display: none;
    }
}

/* **************************************** Fin animation for more infos **************************************** */

/* **************************************** Fin animations **************************************** */