/* first = top 25 - left - 25
second = top 20 - left - 23
third = top 15 - left - 21
 */

@keyframes secondToFirst {
    0% {
        transform: translate(0%, 1%);
    }
    20% {
        transform: translate(0%, 1%);
    }
    40% {
        transform: translate(0%, 1%);
    }
    50% {
        transform: translate(1%, 0%);
    }
    60% {
        transform: translate(0%, 1%);
    }
    80% {
        transform: translate(0%, 1%);
    }
    100% {
        transform: translate(1%, 1%);
    }
}

@keyframes thirdToSecond {
    
}

@keyframes firstToThird {
    
}


@keyframes thirdToFirst {
    
}

@keyframes firstToSecond {
    
}

@keyframes secondToThird {
    
}

