/*
#0C0C0C
#0B1215
#0D1717
#101720
#171717
#011222
#020D19

#FAFAFA
#FBFBFB
#F0F8FF
#FFFFF0
#C7C7C7
#FFFAFA
#F8F8FF
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
  --primary-text-color: #F8F8FF;
  --primary-text-color-transparent: rgb(248, 248, 255, 0.5);
  --primary-color: #011222;
}

html {
  scroll-behavior: smooth;
}
/* **************************************** Règles CSS pour téléphone en portrait **************************************** */

@media (max-width: 720px) and (orientation: portrait) {
  body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

/* **************************************** Factorisation règles mobiles **************************************** */

  #presentation, #projets, #skills {
    width: 90%;
    margin: auto;
    border-radius: 15px;
    box-shadow: inset 0 -5px 0 var(--primary-text-color-transparent), inset 0 5px 0 var(--primary-text-color-transparent);
    margin-top: 1rem;
    padding: 1.5rem 0.5rem;
  }
  
  #skills h2, #projets h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
/* **************************************** Fin factorisation règles mobiles **************************************** */

/* **************************************** Header **************************************** */

  header {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-text-color);
  }
  nav {
    padding-bottom: 0.5rem;
    border-bottom: 1px groove var(--primary-text-color);
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  li {
    display: inline-block;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li a {
    text-align: center;
  }
  img {
    width: 30%;
    display: inline-block;
    margin: auto;
  }

  #me {
    width: 60%;
    filter: grayscale();
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--primary-text-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* **************************************** Fin header **************************************** */

/* **************************************** Présentation **************************************** */

  #presentation {
    margin-bottom: 2rem;
    text-align: center;
  }

  #presentation p {
    font-size: 1.5rem;
  }

  .cta {
    margin-top: 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    padding: 0.5rem;
    box-shadow: inset 0 0 15px var(--primary-color);
  }

/* **************************************** Fin présentation **************************************** */

/* **************************************** Skills **************************************** */

  #skills p {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px;
  }

  #skills p:nth-child(2){
    background: linear-gradient(to right, #E96228, rgba(0, 0, 0, 0) 90%);
    border: 1px solid #E96228;
  }

  #skills p:nth-child(3){
    background: linear-gradient(to right, #3595CF, rgba(0, 0, 0, 0) 75%);
    border: 1px solid #3595CF;
  }

  #skills p:nth-child(4){
    background: linear-gradient(to right, #869AD9, rgba(0, 0, 0, 0) 65%);
    border: 1px solid #869AD9;
  }

  #skills p:nth-child(5){
    border: 1px solid #F7D724;
    background: linear-gradient(to right, #F7D724, rgba(0, 0, 0, 0) 60%);
    
  }

/* **************************************** Fin skills **************************************** */

/* **************************************** Projets **************************************** */

#projets article {
  width: 100%;
  height: 25vh;
  border: 1px solid var(--primary-text-color);
  margin: auto;
  margin-top: 1rem;
}
/* **************************************** Fin projets **************************************** */

/* **************************************** Fin règles CSS pour téléphone en portrait **************************************** */
/* body {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    background-color: #011222;
    color: #F8F8FF;
    width: 100%;
    min-height: 100vh;
}
header {
    
    h1 {
        font-size: 2rem;
    }
}
img#me {
    position: absolute;
    top: 0;
    right: 0;
    filter: grayscale();
    z-index: -1;
}

.presentation p {
    
} */


