/*
#0C0C0C
#0B1215
#0D1717
#101720
#171717
#011222
#020D19

#FAFAFA
#FBFBFB
#F0F8FF
#FFFFF0
#C7C7C7
#FFFAFA
#F8F8FF
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
  --primary-text-color: #F8F8FF;
  --primary-color: #011222;
}
@media (max-width: 600px) {
  body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

/* **************************************** Header **************************************** */

  header {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  nav {
    padding-bottom: 0.5rem;
    border-bottom: 1px groove var(--primary-text-color);
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  li {
    display: inline-block;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 30%;
    display: inline-block;
    margin: auto;
  }

/* **************************************** Fin header **************************************** */
  
  #me {
    width: 50%;
    filter: grayscale();
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}

/* body {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    background-color: #011222;
    color: #F8F8FF;
    width: 100%;
    min-height: 100vh;
}
header {
    
    h1 {
        font-size: 2rem;
    }
}
img#me {
    position: absolute;
    top: 0;
    right: 0;
    filter: grayscale();
    z-index: -1;
}

.presentation p {
    
} */


