/*
#0C0C0C
#0B1215
#0D1717
#101720
#171717
#011222
#020D19

#FAFAFA
#FBFBFB
#F0F8FF
#FFFFF0
#C7C7C7
#FFFAFA
#F8F8FF
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
  --primary-text-color: #F8F8FF;
  --primary-color: #011222;
}

/* **************************************** Règles CSS pour téléphone en portrait **************************************** */

@media (max-width: 600px) and (orientation: portrait) {
  body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

/* **************************************** Header **************************************** */

  header {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  nav {
    padding-bottom: 0.5rem;
    border-bottom: 1px groove var(--primary-text-color);
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  li {
    display: inline-block;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li a {
    text-align: center;
  }
  img {
    width: 30%;
    display: inline-block;
    margin: auto;
  }

  #me {
    width: 50%;
    filter: grayscale();
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid var(--primary-text-color);
    margin: 1rem;
  }
}

/* **************************************** Fin header **************************************** */

/* main {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: center;
} */

/* **************************************** Présentation **************************************** */

.presentation {
  width: 90%;
  margin: auto;
  padding: 0.5rem 0.5rem;
  border-right: 1px solid var(--primary-text-color);
  border-left: 1px solid var(--primary-text-color);
  border-radius: 15px;
  text-align: center;
  box-shadow: inset 15px 0 0 var(--primary-text-color);
}

.presentation p {
  font-size: 1.5rem;
}

.cta {
  margin-top: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 15px;
  background-color: var(--primary-text-color);
  color: var(--primary-color);
  padding: 0.5rem;
  box-shadow: inset 0 0 15px var(--primary-color);
}

/* **************************************** Fin présentation **************************************** */

/* **************************************** Skills **************************************** */

#skills {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  border-right: 1px solid var(--primary-text-color);
  border-left: 1px solid var(--primary-text-color);
  border-radius: 15px;
}

#skills img {
  width: 10%;
}

#skills p {
  display: inline-block;
  vertical-align: middle;
}
.barreSkills {

}
/* **************************************** Fin skills **************************************** */

/* **************************************** Fin règles CSS pour téléphone en portrait **************************************** */
/* body {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    background-color: #011222;
    color: #F8F8FF;
    width: 100%;
    min-height: 100vh;
}
header {
    
    h1 {
        font-size: 2rem;
    }
}
img#me {
    position: absolute;
    top: 0;
    right: 0;
    filter: grayscale();
    z-index: -1;
}

.presentation p {
    
} */


